body {
  padding-top: @navbarHeight;
  position: relative;
}

.footer {
  width: 940px; // arbitrary
  text-align: center;
  display: block;
  margin-top: @navbarHeight;
}

.submit-field {
  ul {
    list-style-type: none;
    color: @errorText;
  }
  ul, li {
    margin-left: 0px;
  }
  .help-inline {
    text-align: left;
  }
  input, textarea {
    width: 240px;
  }
  textarea {
    height: 100px;
  }
}
