.navbar .nav > li > .login-link {
  color: red;
  float: right;  
}

.create-group-form {
  display: inline;
}

.navbar .actions {
  .text {
    padding: 9px 10px 11px;
    line-height: 19px;
  }

  input {
    margin-top: 0px;
  }
}
