{% extends "base.html" %}
{% block title %}Password reset{% endblock %}

{% block pagetitle %}Password reset{% endblock %}

{% block content %}
{% if validlink %}
<form action="" method="post"> 
{% csrf_token %}

{% for field in form %}
  {% if not field.name in form.initial.keys %}
  <div class="submit-field">
    {{ field.label_tag }}
    {{ field }}
    <span class="help-inline">
      {% if field.errors %}
      {{ field.errors }}
      {% else %}
      {{ field.help_text }}
      {% endif %}
    </span>
  </div>
  {% endif %}
{% endfor %}

  <input type="submit" value="Change my password" />
</form>
{% else %}
<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
{% endif %}
{% endblock %} 
