{% extends "base.html" %}

{% block title %}Email {{ action_type }}{% endblock %}
{% block pagetitle %}Email {{ action_type }}{% endblock %}

{% block content %}

{% if validlink %}

  <p>{{ success_msg }}</p>

  {% if token != "invalid" %}
  <a href="{% url password_reset_confirm uidb36=uidb36, token=token %}">
    Complete your account
  </a>
  {% else %}
    <a href="\">Return</a>
  {% endif %}

{% else %}

  <p>The claim email link was invalid, possibly because it has already
  been used. Please request that a new claim email be sent.</p>

{% endif %}

{% endblock %}
