<!-- Create Group Box
============================================================ -->
<div class="pull-right">
  <div class="span1.5 text">Create a group</div>
  <form action="/create-group/" method="post" class="navbar-form pull-right">
    <input type="text" class="input-medium" id="group-name-field" placeholder='Group name'>
    <input type="text" class="input-small" id="group-code-field" placeholder='Group code'>
    <button class="btn" type="submit">Create</button>
  </form>
</div>
<!-- ======================================================= -->
