<!-- Create or Join Group Navbar Box
============================================================ -->
<div class="pull-right">
  <form action="/action/group/" method="post" class="navbar-form pull-right">
    {% csrf_token %}
    {% comment %}
    <input type="text" class="input-medium" id="group-name-field" placeholder='Group name'>
    <input type="text" class="input-small" id="group-code-field" placeholder='Group code'>
    {% endcomment %}
    {{ group_navbar_form.group_name }}
    {{ group_navbar_form.group_code }}
    <input class="btn" type="submit" name="submit" value="{{ type_create }}" />
    <input class="btn" type="submit" name="submit" value="{{ type_join }}" />
  </form>
</div>
<!-- ======================================================= -->
