<!-- Login Box
============================================================ -->
<div class="pull-right">
  <form action="/login/" method="post" class="navbar-form pull-right">
    {% csrf_token %}
    <input type="text" class="span2" id="id_username" name="username" maxlength="30" placeholder='Username'>
    <input type="password" class="span2" id="id_password" name="password" placeholder='Password'>
    <button class="btn" type="submit">Log In</button>
  </form>
</div>
<!-- ======================================================= -->
