<!-- Login Box
============================================================ -->
<div class="span6 pull-right">
  <div class="row-fluid">
    <div class="span12">

      <form action="/login/" method="post" class="navbar-form pull-right">
        {% csrf_token %}
        <input type="text" class="input-medium" id="id_username" name="username" maxlength="30" placeholder='Email or Phone Number'>
        <input type="password" class="input-medium" id="id_password" name="password" placeholder='Password'>
        <button class="btn" type="submit">Log In</button>
      </form>

    </div>
    <div class="row-fluid">
      <div class="span6"></div>
      <a href="/password-reset/">Forgot password?</a>
    </div>
  </div>
</div>
<!-- ======================================================= -->
