
<!-- Navbar
============================================================ -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="logo" href="/">Group Mail</a>
      <ul class="nav">
        {% if user.is_authenticated %}
        <li><a href="/join/group/">Join Group</a></li>
        {% endif %}
      </ul>
      <div class="actions">
        {% if not user.is_authenticated %}
        {% include "navbar/login_box.html" %}
        {% else %}
        <a class="text pull-right span1" href="{% url django.contrib.auth.views.logout %}">Logout</a>
        {% include "navbar/create_group_box.html" %}
        {% endif %}
      </div>
    </div>
  </div>
</div>
<!-- ======================================================= -->
