<!-- Create Group Box
============================================================ -->
<div class="create-group-box pull-right">
  <div class="span1.5 text">Create a group</div>
  <form action="/create-group/" method="post" class="navbar-form pull-right">
    <input type="text" class="span2" id="group-name-field">
    <input type="text" class="span2" id="email-field">
    <button class="create btn" type="submit">Create</button>
  </form>
</div>
<!-- ======================================================= -->
