
<!-- Navbar
============================================================ -->
<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">TheEventboard</a>
      <ul class="nav">
        <li><a href="/login/">Placeholder</a></li>
      </ul>
      <div class="actions">
        <a class="text pull-right span1" href="/login/">Login</a>
        <div>{% include "create_group_box.html" %}</div>
      </div>
    </div>
  </div>
</div>
<!-- ======================================================= -->
