{% extends "base.html" %}
{% block title %}Create Group{% endblock %}
{% block pagetitle %}Create Group{% endblock %}
{% block content %}

{% if create_group_form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="">
{% csrf_token %}

  <div class="submit-event-field">
    <label for="id_title">Group Name</label>
    {{ create_group_form.group_name }}
    <span class="help-inline">{{ create_group_form.group_name.errors }}</span>
  </div>
  <div class="submit-event-field">
    <label for="id_password">Group Code</label>
    {{ create_group_form.group_code }}
    <span class="help-inline">{{ create_group_form.group_code.errors }}</span> 
  </div>

<input type="submit" value="Create" />
</form>

{% endblock %}
