{% extends "base.html" %}

{% block title %}{{group.name}}{% endblock %}
{% block pagetitle %}{{group.name}}{% endblock %}

{% block content %}
<div class="well">
  {% if errors %}
  <ul>
    {% for error in errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}

  <form method="post" action="">
    {% csrf_token %}
    <input type="submit" value="Remove From Group">
    {% for member in group.members.all %}
    <div>
      <label class="checkbox">
        <input type="checkbox" name="removed_members" value="{{ member.email }}">
        <span class="span4">{{ member.get_full_name }}</span>
        <span>{{ member.email }}</span>
      </label>
    </div>
    {% endfor %}
  </form>
</div>
{% endblock %}
