{% extends "base.html" %}

{% block title %}Groups{% endblock %}
{% block pagetitle %}Your Groups{% endblock %}

{% block content %}
  {# add email form #}
  <form method="post" action="">
  {% csrf_token %}
    {% include "generic_fields.html" %}
    <input type="submit" name="submit" value="Submit" />
  </form>

  {# email / group list #}
  <ul>
    {% for email, group_list in groups_by_email.items %}
    <h3>{{ email }}</h3>
      {% for group in group_list %}
        <li><a href="/group/{{group.name}}">{{group.name}}</a></li>
      {% empty %}
        This email is not subscribed to any groups.
      {% endfor %}
    {% endfor %}
  </ul>
{% endblock %}
